//  http://colorschemedesigner.com/#3m42Dbb--tg--

$pri-1: #A8F1FF;
$pri-2: #91BDC5;
$pri-3: #3E9CAD;
$pri-4: #D4F8FF;
$pri-5: #F6FEFF;

$sec-a-1: #D8ACFF;
$sec-a-2: #AD94C5;
$sec-a-3: #7940AD;
$sec-a-4: #EBD6FF;
$sec-a-5: #FBF7FF;

$sec-b-1: #FFFBA6;
$sec-b-2: #C5C290;
$sec-b-3: #ADA83D;
$sec-b-4: #FFFDD2;
$sec-b-5: #FFFFF6;

$comp-1 :#FFD1A6;
$comp-2 :#C5AA90;
$comp-3 :#AD743D;
$comp-4 :#FFE8D2;
$comp-5 :#FFFAF6;